<section class="about container">
  <div class="about-container">
    <div class="about-content">
      <h2 class="about-title">About</h2>
      <p class="about-descr">
        <span>Welcome,</span>
        <span
          >I’m Edna Shindinde, personal style advisor & wardrobe editor.</span
        >
        <span
          >I help women embrace their value by teaching how to build a staple
          wardrobe in line with their inner power and beauty.</span
        >
        <span>
          The greatest flair of mine is to see talent and strength behind every
          woman I meet. Whether you build a career, take care of a family, own a
          business or enjoy life by your rules – you are a high-value woman. You
          set a precedent & should own it proudly!</span
        >
        <span
          >My vision is for each women to unblushingly celebrate her beauty, to
          be seen and respected without doubting own looks. Styling is just one
          way to achieve that. And I couldn’t ask for a better mission, as to
          guide you on this journey.</span
        >
      </p>
      <ul class="about-list">
        <li class="about-item"><a class="about-link" href="#">Services</a></li>
        <li class="about-item">
          <a class="about-link" href="#">TESTIMONIALS</a>
        </li>
        <li class="about-item"><a class="about-link" href="#">BOOK</a></li>
      </ul>
    </div>
    <picture>
      <source
        media="(min-width: 1440px)"
        srcset="./images/about-img-tab-min.jpg"
        width="711"
        height="466"
      />
      <source
        media="(min-width: 768px)"
        srcset="./images/about-img-tab-min.jpg"
        width="416"
        height="273"
      />
      <source
        media="(max-width: 768px)"
        srcset="./images/about-img-min.jpg"
        width="320"
        height="466"
      />
      <img src="./images/about-img-min.jpg" alt="my photo" />
    </picture>
  </div>
</section>
