<section class="approach container">
  <div class="approach-container">
    <h2 class="approach-title">MY APPROACH</h2>
    <div class="approach-info-block">
      <div class="approach-picture-block">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="./images/approach-min.jpg"
          />
          <source
            media="(min-width: 768px)"
            srcset="./images/approach-min.jpg"
          />
          <img src="./images/approach-mob-min.jpg" alt="my photo" />
        </picture>
      </div>
      <div class="approach-content">
        <h3 class="approach-subtitle">
          I invest TIme to know the woman in front of me.
        </h3>
        <div class="approach-subcontent">
          <p class="approach-descr">
            I am excited to hear about your story and life experiences that made
            you who you are. Your personality is the foundaHon of a unique style
            & I'm here to explore it.
          </p>
          <div class="approach-buttons">
            <button class="approach-btn approach-btn-one">
              <svg class="approach-icon">
                <use href="./images/icons.svg#icon-arrow-1"></use>
              </svg>
            </button>
            <button class="approach-btn approach-btn-two">
              <svg class="approach-icon">
                <use href="./images/icons.svg#icon-arrow-2"></use>
              </svg>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
