<section class="feedback container">
  <div class="feedback-container">
    <div class="feedback-swiper-container swiper-container">
      <div class="feedback-swiper-wrapper swiper-wrapper">
        <div class="feedback-swiper-slide swiper-slide">
          <div class="feedback-top-info">
            <img
              class="feedback-photo"
              src="./images/feedback1-min.jpg"
              alt="customer feedback 1"
            />
            <div class="feedback-titles">
              <h3 class="feedback-name">Nadiya Maltseva</h3>
              <p class="feedback-career">Maltseva Consulting</p>
            </div>
          </div>
          <p class="customer-feedback">
            During a stage in my life, I needed to transition from my corporate
            attire during work hours and floral dresses during leisure time...
          </p>
          <span class="feedback-span">Read more</span>
        </div>
        <div class="feedback-swiper-slide slide swiper-slide">
          <div class="feedback-top-info">
            <img
              class="feedback-photo"
              src="./images/feedback2-min.jpg"
              alt="customer feedback 2"
            />
            <div class="feedback-titles">
              <h3 class="feedback-name">Lemara Akhbaeva</h3>
              <p class="feedback-career">Make Up Artist & Beauty Expert</p>
            </div>
          </div>
          <p class="customer-feedback">
            Edna, I chose to work with you because you are attentive to detail,
            have a very good sense of...
          </p>
          <span class="feedback-span">Read more</span>
        </div>
        <div class="feedback-swiper-slide slide swiper-slide">
          <div class="feedback-top-info">
            <img
              class="feedback-photo"
              src="./images/feedback3-min.jpg"
              alt="customer feedback 3"
            />
            <div class="feedback-titles">
              <h3 class="feedback-name">Daria Trofimova</h3>
              <p class="feedback-career">Psychotherapist</p>
            </div>
          </div>
          <p class="customer-feedback">
            I want to note your ability to show and explain that clothes are not
            just functional fabric...
          </p>
          <span class="feedback-span">Read more</span>
        </div>
        <div class="feedback-swiper-slide slide swiper-slide">
          <div class="feedback-top-info">
            <img
              class="feedback-photo"
              src="./images/feedback4-min.jpg"
              alt="customer feedback 4"
            />
            <div class="feedback-titles">
              <h3 class="feedback-name">Nadiya Maltseva</h3>
              <p class="feedback-career">Maltseva Consulting</p>
            </div>
          </div>
        </div>
      </div>
      <div class="feedback-swiper-pagination swiper-pagination"></div>
    </div>
    <p class="feedback-descr">
      During a stage in my life, I needed to transition from my corporate attire
      during work hours and floral dresses during leisure time, to a more
      versatile and easy-to-wear style. Edna surprised me by first wanting to
      understand me as a person, not just my daily role. As we sorted through my
      closet, I was apprehensive about having to let go of my favorite pieces.
      However, Edna approached each item with reverence and asked about my
      personal connection and association with it. In the end, we ended up
      donating 70% of the items and did a little shopping. Edna goes beyond just
      putting together an outfit. She taught me to view each item as an
      ingredient that can be used in various combinations, making them
      incredibly satisfying and appealing, resulting in compliments from others
    </p>
  </div>
</section>
