<section class="motivation container">
  <div class="motivation-container">
    <div class="motivation-slider-image">
      <picture>
        <source
          media="(min-width: 1440px)"
          srcset="./images/hands-and-journal-min.jpg"
          width="456"
        />
        <source
          media="(min-width: 768px)"
          srcset="./images/hands-and-journal-min.jpg"
          width="250"
        />
        <img
          src="./images/hands-and-journal-mob-min.jpg"
          alt="jewelry on hands"
        />
      </picture>
      <div class="motivation-top-text">
        <h3 class="motivation-title">You are always enough.</h3>
        <p class="motivation-descr">
          Every part of a woman, her every role is equally important and worthy
          to be seen. Not clothes but you are the starting point of a style to
          remember. Let’s manifest that.
        </p>
        <svg class="motivation-slider" width="40" height="4">
          <use href="./images/icons.svg#icon-carousel"></use>
        </svg>
      </div>
    </div>
  </div>
</section>
