<section class="services container">
  <div class="services-container">
    <h2 class="services-title">services</h2>
    <div class="services-swiper-container">
      <div class="services-swiper-wrapper">
        <div class="services-swiper-slide">
          <img
            class="services-photo"
            src="./images/services-1-mob-min.jpg"
            alt="Guided Shopping"
          />
          <h3 class="services-photo-title">Guided Shopping</h3>
        </div>
        <div class="services-swiper-slide services-hidden">
          <img
            class="services-photo"
            src="./images/services-2-mob-min.jpg"
            alt="Style Session"
          />
          <h3 class="services-photo-title">Style Session</h3>
        </div>
        <div class="services-swiper-slide services-hidden">
          <img
            class="services-photo"
            src="./images/services-3-mob-min.jpg"
            alt="Wardrobe Edit"
          />
          <h3 class="services-photo-title">Wardrobe Edit</h3>
        </div>
        <div class="services-swiper-slide services-hidden">
          <img
            class="services-photo"
            src="./images/services-4-mob-min.jpg"
            alt="Special Styling"
          />
          <h3 class="services-photo-title">Special Styling</h3>
        </div>
      </div>
      <!-- Add Navigation -->
      <div class="services-swiper-button">
        <svg class="services-slider" width="40" height="4">
          <use href="./images/icons.svg#icon-carousel-services"></use>
        </svg>
      </div>
    </div>
  </div>
</section>
