.approach {
    padding: 40px 0 33px;
}
.approach-container {
    padding: 0 16px;
}
.approach-title {
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.48px;
    text-transform: uppercase;
    color: var(--accent);
    padding-bottom: 40px;
}
.approach-picture-block {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 16px;
}
.approach-content {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.approach-subtitle {
    font-family: Cormorant Garamond;
    font-size: 36px;
    font-weight: 300;
    line-height: 1.05;
    text-transform: uppercase;
    color: var(--brown);
}
.approach-subcontent {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.approach-descr {
    text-align: justify;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5; 
}
.approach-buttons {
    margin: 0 auto;
    display: flex;
}
.approach-btn {
    border: none;
    background-color: transparent;
    width: 40px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.approach-btn-one {
    display: none;
}
.approach-btn-two {}
.approach-icon {
    fill: var(--dark-beige);
    width: 40px;
    height: 10px;
}
.approach-icon:hover, .approach-icon:focus {
    fill: var(--light-brown);
}
.approach-icon:active {
    fill: var(--accent);
}
/* -------------------------------media---------------------------------------------- */
@media screen and (min-width: 768px) {
    .approach {
        padding: 40px 0;
    }
    .approach-container {
        padding: 0 40px;
    }
    .approach-title {
        position: absolute;
        padding-bottom: 0;
    }
    .approach-picture-block {
        padding-bottom: 0;
    }
    .approach-content {
        width: 550px;
        padding-right: 40px;
        justify-content: center;
        gap: 0;
    }
    .approach-info-block {
        display: flex;
        flex-direction: row-reverse;
        /* justify-content: start; */
    }
    .approach-btn-one {
        display: flex;
    }
    .approach-buttons {
        display: flex;
        gap: 24px;
        margin: 0;
    }
    .approach-subtitle {
        font-size: 28px;
        line-height: 1;
        padding: 90px 0;
    }
    .approach-subcontent {
        flex-direction: row;
        justify-content: space-between;
    }
    .approach-descr {
        width: 250px;
        font-size: 8px;
    }
}

@media screen and (min-width: 1440px) {
    .approach {
        padding: 80px 0;
    }
    .approach-container {
        padding: 0 80px;
    }
    .approach-info-block {
        gap: 80px;
    }
    .approach-content {
        width: 700px;
    }
    .approach-subtitle {
        font-size: 64px;
        padding: 148px 0;
    }
    .approach-btn {
        gap: 24px;
    }
    .approach-descr {
        width: 423px;
        font-size: 12px;
    }

} 