.motivation {}
.motivation-container {}
.motivation-slider-image {
    position: relative;
}
.motivation-top-text {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 56px 28px;
}
.motivation-title {
    width: 263px;
    font-family: "Cormorant Garamond", serif;
    font-size: 36px;
    font-weight: 300;
    line-height: 1.05;
    text-transform: uppercase;
    color: var(--light-beige);
    margin-bottom: 40px;

}
.motivation-descr {
    width: 263px;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
    color: var(--light-beige);
    margin-bottom: 48px;
}
.motivation-slider {
    display: flex;
    margin: 0 auto;
}